 {% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Ecommerce</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{% static 'Ecommerce/style.css' %}">
</head>
<body>
  <h1>Products</h1>
  <ul>
    {% for product in products %}
    <li>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p> Price: {{product.price}}</p>
        <img src="{{product.image.url}}" alt="{{product.name}}">
    </li>
{% endfor %}
  </ul>
</body>
{% comment %} <a href ="{% url 'Ecommerce:product_detail' %}" class="back-link"> Back to Product Details</a> {% endcomment %}
</html>